*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    background:pink;
    width: 100%;
    height:100%;

}
#container{
    width:50rem;
    height:50rem;
    background:brown;
    border-radius:20px;
    margin:auto;
}